<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="GiveawayCord">
    <meta property="og:description" content="Hold Giveaways On Discord Servers Quickly And Easily!"> 
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/763679502672068608/798835559412924416/GiveawayNew-1750x750.png">
    <meta name="theme-color" content="#7289DA">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="favicon" rel="icon" href="<%= bot.user.avatarURL %>" type="image/x-icon">
    <title><%= title %></title>
    <link href="/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <img
      src="<%= bot.user.avatarURL %>"
      alt=""
      width="40"
      height="40"
      style="float: left; border-radius: 20px; margin: 7px;"
      oncontextmenu="return false"
      onselectstart="return false"
      ondragstart="return false"
    />
      <a class="navbar-brand" href="/"><%= bot.user.username %></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/commands">Commands</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/invite">Invite Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/status">Status</a>
          </li>
          <% if (user && config.ADMIN_ID.includes(user.id)) { %>
            <li class="nav-item">
              <a class="nav-link" href="/admin">Admin</a>
            </li>
            <% } %>
        </ul>
        <ul class="navbar-nav">
          <% if (user) { %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= user.username %>#<%= user.discriminator %>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown" style="background-color: #111111;">
                <li><a class="dropdown-item" href="/dashboard" style="color: white;">Dashboard</a></li>
                <% if (config.ADMIN_ID.includes(user.id)) { %>
                  <li><a class="dropdown-item" href="/admin" style="color: white;">Admin Panel</a></li>
                <% } %>
                <li><hr class="dropdown-divider" style="color: grey;"></li>
                <li><a class="dropdown-item" href="/logout" style="color: #ff3232;">Logout</a></li>
              </ul>
            </li>
            </li>
          <% } else { %>
            <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>