<%- include("partials/header", { bot, user, path, title: `${bot.user.username}`})%>

<center>

    <br>    

    <h3 style="color: white;">All Commands For <b><%= bot.user.username %></b></h3>
    <br>
    <h5 style="color: white; font-size: large;">Tips: Slash Commands Are Now Available! You Must <a href="/invite" style="text-decoration: none;">Invite The Bot With application.commands and bot Scopes</a> In Order To Get Slash Commands Registered!</h5>

    <br>

    <table id="table-giveaway-list" style="text-align: center; height: 35%; width:50%; font-size: large;">
    
            <tr>
                <th style="text-align: center;">Command</th>
                <th style="text-align: center;">Description</th>
                <th style="text-align: center;">Usage</th>
            </tr>

            <% bot.commands.filter((cmd) => cmd.name !== "eval" && cmd.name !== "sweep").forEach((cmd) => {%>

                <tr>
                    <td><%= cmd.name %></td>
                    <td><%= cmd.description || "Not Provided" %></td>
                    <td><%= cmd.usage || "Not Provided" %></td>
                </tr>

            <% });%>
        
    </table>

    <br><br>

</center>

<%- include("partials/footer")%>