<%- include("partials/header", { bot, user, path, title: `${bot.user.username}` }) %>

<h1 style="color: white; text-align: center;">Manage Servers</h1>
  <br>
  <h3 style="color: white; text-align: center;">Choose one of the following server you want to configure.</h3>

<div style="display: flex; flex-wrap: wrap; justify-content: center;">
  <% user.guilds.forEach(guild => {
      const permsOnGuild = new perms(guild.permissions);
      if(!permsOnGuild.has("manageGuild")) return;
  %>

    <div class="card" style="max-width: 18rem; margin: 2rem; min-width: 10em; background-color: grey;">
    <%- guild.icon ? `<img src="https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}" class="card-img-top" style="max-width: 18rem;">` : `<img src="https://cdn.discordapp.com/icons/308994132968210433/57528465a1b57541fee0518dc346ecb3.png" class="card-img-top" style="max-width: 18rem;">` %>
      <div class="card-body" style="background-color: grey;">
        <h5 class="card-title"><%= guild.name %></h5>
        <% if (bot.guilds.get(guild.id)) { %>
          <p class="card-text" style="color: white;">Configure <b><%= guild.name %></b> via the dashboard by clicking the button below.</p>
          <a href="/dashboard/<%- guild.id %>" class="btn btn-primary text-white">Dashboard</a>
        <% } else { %>
          <p class="card-text" style="color: white;">Invite the bot to <b><%= guild.name %></b> in order to configure the server via the dashboard by clicking the button below.</p>
          <a href="<%= `https://discordapp.com/oauth2/authorize?client_id=${bot.user.id}&permissions=355392&scope=bot%20applications.commands&guild_id=${guild.id}&response_type=code&redirect_uri=${encodeURIComponent(`${bot.config.domain}${bot.config.PORT == 80 ? "" : `:${bot.config.PORT}`}/callback`)}`  %>" class="btn btn-secondary text-white">Invite Bot</a>
        <% } %>
      </div>
    </div>
  <%
      });
  %>
</div>

<%- include("partials/footer") %>
