<%- include("partials/header", { bot, user, path, title: `${bot.user.username}` }) %>

  <div class="container-sm center" style="margin-top: 30px;">
    <div class="d-grid gap-2 col-4 mx-auto">
      <% if (alert && success===false) { %>
        <div class="alert alert-danger" role="alert">
          <span class="closebtn-danger" onclick="this.parentElement.style.display='none';">&times;</span>
          <%= alert %>
        </div>
        <% } else if (alert && success===true) { %>
          <div class="alert alert-success" role="alert">
            <span class="closebtn-success" onclick="this.parentElement.style.display='none';">&times;</span>
            <%= alert %>
          </div>
          <% } %>

            <h1 style="color: white; text-align: center;">
              <%= guild.name %>
            </h1>
            <br>
            <a href="/dashboard" style="text-decoration: none; text-align: center;" class="goback">Go Back</a>
            <hr>
            <form method="POST">
              <center>
                <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px; color: white;">Prefix:</p>
                <p style="font-style: italic; color: white;" class="disabled">This is the prefix of the bot in <b>
                    <%= guild.name %>
                  </b> which users can use to invoke the commands.</p>
                <input autocomplete="off" type="text" class="form-control" name="prefix"
                  value="<%= database.Prefix %>" placeholder="Your Prefix Here">
                <br>
                <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px; color: white;">Language:</p>
                <p style="font-style: italic; color: white;" class="disabled">This is the language of the bot which will
                  display in <b>
                    <%= guild.name %>
                  </b></p>
                <% if (database.Language==="ENGLISH" ) { %>
                  <select name="language" id="botLang" class="form-select">
                    <option value="ENGLISH" selected>English</option>
                    <option value="JAPANESE">Japanese</option>
                  </select>
                  <% } %>

                        <br>
                        <button type="submit" onclick="document.getElementById('id01').style.display='block'"
                          class="btn btn-success text-white">Save Settings</button>
                        <button type="reset" class="btn btn-secondary text-white">Reset Changes</button>

              </center>
            </form>
    </div>
  </div>

  <%- include("partials/footer") %>