<%- include("partials/header", { bot, user, path, title: `${bot.user.username}` }) %>

    <center>
        <br>
        <h2 style="color: white;"><%= bot.user.username%> Status</h2>

        <hr>

        <div class="card-overview"
                    style="border-color: #43f378; max-width: 18rem; margin: 2rem; border-radius: 15px; min-width: 30em; background-color: transparent; cursor: pointer;">
                    <div class="card-body" id="refresh">
                        <h3 class="card-title" style="color: white;"><%= bot.user.username %> Overview
                        </h3>
                        <br>
                        <h5 class="card-text" style="color: white; opacity: 90%; text-align: left;" id="status">
                            Servers: <%= bot.guilds.size.toLocaleString() %>
                            <br>
                            Users: <%= bot.guilds.map((g) => g.memberCount).reduce((prev, val) => prev + val).toLocaleString() %>
                            <br>
                            <%= bot.shards.size === 1 ? "Shard" : "Shards" %>: <%= bot.shards.filter((shard) => shard.ready === true).length %>/<%= bot.options.maxShards %> Online
                        </h5>
                    </div>
                </div>

        <% shards.forEach((shard)=> { %>

            <% if (shard.ready===true) {%>
                <div class="card-status-ready"
                    style="border-color: #43f378; max-width: 18rem; margin: 2rem; border-radius: 15px; min-width: 10em; background-color: transparent; cursor: pointer;">
                    <div class="card-body" id="refresh">
                        <h3 class="card-title" style="color: white;">Shard <%= shard.id %>
                        </h3>
                        <h5 class="card-text" style="color: white; text-align: center;" id="status">
                            <br>
                            Status: <%= shard.status %>
                                <br><br>
                                Ping: <%= shard.latency ? shard.latency : "N/A" %>ms
                                    <br><br>
                                    Servers: <%= bot.guilds.size.toLocaleString() %>
                        </h5>
                    </div>
                </div>
                <% } else if (shard.ready===false) { %>
                    <div class="card-status-unready"
                        style="border-color: #ff0a0a; max-width: 18rem; margin: 2rem; border-radius: 15px; min-width: 10em; background-color: transparent; cursor: pointer;">
                        <div class="card-body" id="refresh">
                            <h3 class="card-title" style="color: white;">Shard <%= shard.id %>
                            </h3>
                            <h5 class="card-text" style="color: white; text-align: center;" id="status">
                                <br>
                                Status: <%= shard.status %>
                                    <br><br>
                                    Ping: N/A
                                    <br><br>
                                    Servers: N/A
                            </h5>
                        </div>
                    </div>
                    <% } %>

                        <% }); %>

    </center>

<%- include("partials/footer")%>